.page1 {
   
    align-items: center;
    h1{
        color:pink
    }

    h4{
        color:pink
    }

    .child_component{
        width:500px;
        height:300px;
    }

}
body{
    background-color: rgb(6, 56, 63);
}
.p
{
    color: pink;
}
.bg{
    color: pink;
}
.a{
    color: pink;
}
